@model ShopBanHang1.ViewModels.DangKyViewModel
@{
	ViewData["Title"] = "Đăng ký";
}
@await Component.InvokeAsync("LoaiMenu")
<div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
		<div class="d-inline-flex">
			<p class="m-0"><a asp-controller="Home" asp-action="Index">Home</a></p>
			<p class="m-0 px-2">-</p>
			<p class="m-0">Đăng Ký</p>
		</div>
	</div>
</div>


<div class="container-fluid pt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2>Đăng ký</h2>
			<form asp-action="DangKy" asp-controller="KhachHang" enctype="multipart/form-data">
				<div class="col-md-12 form-group">
					<label asp-for="@Model.MaKh"></label>
					<input asp-for="@Model.MaKh" class="form-control" placeholder="Username">
					<span asp-validation-for="@Model.MaKh" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.MatKhau"></label>
					<input asp-for="@Model.MatKhau" class="form-control" placeholder="Password">
					<span asp-validation-for="@Model.MatKhau" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.HoTen"></label>
					<input asp-for="@Model.HoTen" class="form-control" placeholder="Full Name">
					<span asp-validation-for="@Model.HoTen" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.GioiTinh"></label>
					<select class="custom-select" asp-items="@(new List<SelectListItem> {
						new SelectListItem { Text = "Nam", Value = "Nam" },
						new SelectListItem { Text = "Nữ", Value = "Nữ" }
					})">
					</select>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.NgaySinh"></label>
					<input asp-for="@Model.NgaySinh" class="form-control" placeholder="Date of Birth">
					<span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.DiaChi"></label>
					<input asp-for="@Model.DiaChi" class="form-control" placeholder="Address">
					<span asp-validation-for="@Model.DiaChi" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.DienThoai"></label>
					<input asp-for="@Model.DienThoai" class="form-control" placeholder="Phone Number">
					<span asp-validation-for="@Model.DienThoai" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.Email"></label>
					<input asp-for="@Model.Email" class="form-control" placeholder="Email Address">
					<span asp-validation-for="@Model.Email" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label for="Hinh">Hình</label>
					<input type="file" class="form-control" name="Hinh" >
				</div>
				<div class="card-footer border-secondary bg-transparent">
					<button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Đăng Ký</button>
				</div>

			</form>
		</div>
	</div>
</div>